<div> <!-- Ejercicio 05 -->
    <div class="modal" tabindex="-1" role="dialog" id="ventanamodalApp05">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ejercicio 05</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Resistencia Equivalente En Paralelo</legend>
                        <form action="" onsubmit="return AnularRefreshSubmit()">
                            <label for="R1">Valor de la Resistencia 1 (ohmios):</label>
                            <input type="text" id="R1" placeholder="Ingrese el valor de R1" maxlength="5"
                                onkeypress="return KeyPressRealesPositivos(event)" pattern="[0-9]+(\.[0-9]*)?|\.[0-9]+?"
                                title="Por favor, ingrese solo números reales positivos" required>
                            <label for="R2">Valor de la Resistencia 2 (ohmios):</label>
                            <input type="text" id="R2" placeholder="Ingrese el valor de R2" maxlength="5"
                                onkeypress="return KeyPressRealesPositivos(event)" pattern="[0-9]+(\.[0-9]*)?|\.[0-9]+?"
                                title="Por favor, ingrese solo números reales positivos" required>
                            <input type="submit" class="BotonEjecutar" value="Calcular Resistencia Equivalente"
                                onclick="GetApp05()"></input>
                            <div class="DivResultado" id="ResultadoApp05"></div>
                        </form>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Guardar Cambios</button> -->
                </div>
            </div>
        </div>
    </div>
</div>