<div> <!-- Ejercicio 06 -->
    <div class="modal" tabindex="-1" role="dialog" id="ventanamodalApp06">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ejercicio 06</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Analizar Un Número</legend>
                        <form action="" onsubmit="return AnularRefreshSubmit()">
                            <label for="number">Ingrese un número:</label>
                            <input type="text" id="ValorN" placeholder="Ingrese un número" maxlength="5"
                                onkeypress="return KeyPressTodosReales(event)" pattern="-?([0-9]+(\.[0-9]*)?|\.[0-9]+)"
                                title="Por favor, ingrese solo números reales" required>
                            <input type="submit" class="BotonEjecutar" value="Analizar Número"
                                onclick="GetApp06()"></input>
                            <div class="DivResultado" id="ResultadoApp06"></div>
                        </form>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Guardar Cambios</button> -->
                </div>
            </div>
        </div>
    </div>
</div>