<div> <!-- Ejercicio 09 -->
    <div class="modal" tabindex="-1" role="dialog" id="ventanamodalApp09">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ejercicio 09</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Operaciones Trigonométricas</legend>
                        <form action="" onsubmit="return AnularRefreshSubmit()">
                            <label for="AnguloIngresado">Función Trigonométrica:</label>
                            <select id="OperacionT">
                                <option value="sin">Seno</option>
                                <option value="cos">Coseno</option>
                                <option value="tan">Tangente</option>
                            </select>
                            <label for="AnguloIngresado">Ingrese el ángulo en grados:</label>
                            <input type="text" id="AnguloIngresado" placeholder="Ingrese el ángulo" maxlength="5"
                                onkeypress="return KeyPressTodosReales(event)" pattern="-?([0-9]+(\.[0-9]*)?|\.[0-9]+)"
                                title="Por favor, ingrese solo números reales" required>
                            <label for="OperacionT">Seleccione la función trigonométrica:</label>
                            <input type="submit" class="BotonEjecutar" value="Calcular" onclick="GetApp09()"></input>
                            <div class="DivResultado" id="ResultadoApp09"></div>
                        </form>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Guardar Cambios</button> -->
                </div>
            </div>
        </div>
    </div>
</div>