<div> <!-- Ejercicio 03 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ventanamodalApp03">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ejercicio 03<br>Operaciones con Números</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-light">
                    <fieldset class="p-4 border rounded shadow-sm bg-white">
                        <legend class="text-primary fw-bold">Imprime Operaciones de un número</legend>
                        <div class="text-center mb-4">
                            <img src="https://cdn-icons-png.flaticon.com/128/4002/4002516.png">
                        </div>
                        <form onsubmit="return false;">
                            <div class="mb-3">
                                <label for="NumeroIngresado" class="form-label">Ingrese un número:</label>
                                <input type="text" id="NumeroIngresado" class="form-control border-primary shadow-sm" placeholder="Número entero" maxlength="4" onkeypress="return KeyPressTodosEnteros(event)" pattern="-?[0-9]+" title="Por favor, ingrese un número entero" required>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-success shadow-sm" onclick="GetApp03()"> <i class="bi bi-play-fill"></i> Calcular </button>
                                <button type="button" class="btn btn-danger shadow-sm" onclick="LimpiarCampos03()"> <i class="bi bi-trash-fill"></i> Limpiar Campos </button>
                            </div>
                        </form>
                        <div class="alert alert-info mt-4 d-none" id="ResultadoApp03" role="alert"></div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>