<div> <!-- Ejercicio 02 -->
    <div class="modal" tabindex="-1" role="dialog" id="ventanamodalApp02">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Ejercicio 02</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Volumen De Un Depósito Cilindrico</legend>
                    <form action="" onsubmit="return AnularRefreshSubmit()">
                        <label for="RadioCilindro">Radio de la base:</label>
                        <input type="text" id="RadioCilindro" placeholder="Radio en metros" maxlength="5" onkeypress="return KeyPressRealesPositivos(event)" pattern="[0-9]+(\.[0-9]*)?|\.[0-9]+?" title="Por favor, ingrese solo números reales positivos" required>
                        <label for="AlturaCilindro">Altura del depósito:</label>
                        <input type="text" id="AlturaCilindro" placeholder="Altura en metros" maxlength="5" onkeypress="return KeyPressRealesPositivos(event)" pattern="[0-9]+(\.[0-9]*)?|\.[0-9]+?" title="Por favor, ingrese solo números reales positivos" required>
                        <input type="submit" class="BotonEjecutar" value="Calcular Volumen" onclick="GetApp02()"></input>
                        <div class="DivResultado" id="ResultadoApp02"></div>
                    </form>
                </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <!-- <button type="button" class="btn btn-primary">Guardar Cambios</button> -->
            </div>
          </div>
        </div>
    </div>
</div>