.ContenedorMenuEditorTexto {
    max-width: 100%;
    margin: auto;
    background-color:  #4caf50;
    font-size: 20px;
}

.MenuEditorTexto {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
}

  
.MenuEditorTexto, button {
    width: auto;
    height: 100%;
    margin: auto;
    padding: auto;
}

.MenuEditorTexto .BotonEjecutar {
    width: 100px;
    height: 100%;
}

.ComboBoxEditorTexto {
    width: 100%;
    padding-top: 0.3rem;
    padding-left: 0.6rem;
}


#textEditor {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    overflow-y: auto;

    font-size: 12pt;
}
